##pycharm  Zhiyuan
.idea/
##VS Code ZHiyuan
.vscode/

#ipython
.ipynb_checkpoints
.pyc

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.synctex.gz
*.fdb_latexmk
*/LatexReport/*.pdf


